.App {
  text-align: center;
}

.App-logo {
  width:100%;
  background-size: cover; 
}

.App-header {
  background-color: #222;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
