{% extends 'base.html' %}


{% block content %}

<ul />


<table class="table">

    <thead>
        <tr>
            <th> Name</th>
            <th> Pic</th>
            <th> List</th>
            <th> Best Price</th>
            <th> $$$AVING$$$ </th>
        </tr>
    </thead>

    <tbody>
    {% for deal in best_deals_sorted %}

        <tr>
            <td><a href="{{deal.wishlist_item.URL}}">{{ deal.wishlist_item.name }}</a></td>
            <td></td>
            <td>{{ "${:,.2f}".format(deal['list_price']/100) }}</td>
            <td>{{ "${:,.2f}".format(deal['best_offer_price']/100) }}</td>
            <td>{{ "${:,.2f}".format(deal['savings_vs_list']/100) }}</td>    
        </tr>

    {% endfor %}
    </tbody>
</table>    

<ul />


{% endblock %}