

{% extends 'base.html' %}

{% block head %}


{{ super() }}

{% endblock %}

{% block content %}
<body>
    <div class='what-is-this'><a href="/faq">FAQ</a></div>
    <div class="jumbotron">
      <div class="container text-center jumbotext">
        <h1>WHAT SHOULD I <br/> BUY PETE TODAY? </h1>
        
      </div>
    </div>

    <div class='container text-center thumbs'>
        
            <div class='col-md-1'></div>
            {% if best_by_list %}
            <div class='col-md-4'>
                <div class='thumbnail'>
                    <h2>Biggest Savings</h2>
                    <a href="{{ best_by_list['wishlist_item'].URL }}" class="btn btn-primary btn-block buy-button" role="button">{{ "${:,.2f}".format(best_by_list['best_offer_price']/100) }}</a>
                    <img src="{{ best_by_list['wishlist_item'].images.all()[0].mediumURL }}" class="img-responsive">
                    <div class="caption">
                        <h4>{{ best_by_list['wishlist_item'].name }}</h4>
                            Save {{ "${:,.2f}".format(best_by_list['savings_vs_list']/100) }}!
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class='col-md-2'></div>
            {% if cheapest_overall %}
            <div class='col-md-4'>
                <div class='thumbnail'>
                    <h2>Cheapest</h2>
                    <p><a href="{{ cheapest_overall['wishlist_item'].URL }}" class="btn btn-primary btn-block buy-button" role="button">{{ "${:,.2f}".format(cheapest_overall['best_offer_price']/100) }}</a></p>
                    <img src="{{ cheapest_overall['wishlist_item'].images.all()[0].mediumURL }}">
                    <div class="caption">
                        <h4>{{ cheapest_overall['wishlist_item'].name }}</h4>
                            Save {{ "${:,.2f}".format(cheapest_overall['savings_vs_buybox']/100)  }}!
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class='col-md-1'></div>
    </div>

    <div class='bottom-color'></div>

    <div class='footer'>Refreshed at {{ refreshed_time }}. <a href='{{ url_for('all_items') }}'>See all...</a></div>

</body>
{{ super() }}
{% endblock %}
