{% extends 'base.html' %}


{% block content %}
{{ super() }}

{{ wishlist }}
<br/>
------------------------------
<br/>
{{ items }}
<br/>
------------------------------
<br/>
{% for v in variations %}

    Variation Name: {{ v.name }}<br/>
    Offers: <ul>{% for o in v.offers %}
                    {{ o.__dict__ }}
                    <li>Condition: {{ o.condition }}</li>
                    <li>Price: {{ o.offer_price_formatted }}</li>
                    <li>Prime Eligible: {{ o.prime_eligible }}</li>
                    <li>Availability: {{ o.availability }}</li>
                    <li>---------------</li>
                {% endfor %}
            </ul>

{% endfor %}
------------------------------
<br/>






{% endblock %}