/*
Base Color : #88E1FB
Accent Color : #85FCA9

Dark Grey: #556D74
Light Grey: #DBF3FA
*/

.thumbnail {
    margin-top: -175px;
    border: none;
    border-radius: 0;
    box-shadow: 10px 10px 50px -5px rgba(85,109,116,1);
}

.thumbnail img { 
    min-height:150px; 
    height:150px; 
}


.navbar-text {
    width:100%;
    text-align: center;
}

.jumbotron {
    background-color: #88E1FB;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 180px;
}

.jumbotron h1 {
    font-size: 6em;
}



.jumbotext {
    font-family: 'Lato', sans-serif;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.bottom-color {
    margin-top:-500px;
    width:100%;
    height:50%;
    background-color: #DBF3FA;
    position: fixed;
    bottom: 0;
    z-index: -1;

}

.btn-primary {
    background-color: #85FCA9;
    color: #111111;
    border: none;
    border-radius: 0;
}